---
layout: none
---
<!DOCTYPE html>
{%- include snippets/get-lang.html -%}
<html lang="{{ __return }}">
  <head>
    {%- include analytics.html -%}
    {%- include head.html -%}
    <script>
      {%- include scripts/utils/utils.js -%}
      {%- include scripts/lib/throttle.js -%}
      {%- include scripts/lib/lazyload.js -%}
    </script>
    {%- include scripts/variables.html -%}
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  CommonHTML : {scale:130 },
  tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
  TeX: {
    Macros: {
      bra: ["{\\langle #1 |}", 1],
      ket: ["{| #1 \\rangle }",1],
      braket: ['{\\langle #1 \\rangle }', 1],
      norm: ["\\left\\lVert #1 \\right\\rVert", 1] 
}
 }


});
</script>

  </head>
  <body>
    <div class="root" data-is-touch="false">
      {{ content }}
    </div>
    <script>
      {%- include scripts/common.js -%}
    </script>
  </body>
</html>